<!DOCTYPE html PUBLIC "HTML 4.01//EN">
<html>

<head>
    <title>Sécurité informatique</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/admin.css">
    <link rel="stylesheet" href="../css/nav.css">
</head>

<body>
    <%- include('partial/nav.ejs') %>
        <div class="page">
            <table id="table">
                <tr>
                    <td>id</td>
                    <td>name</td>
                    <td>email</td>
                    <td>level</td>
                </tr>

                <% Object.values(users).forEach(function(user){%>
                    <tr>
                        <td>
                            <%= user.id %>
                        </td>
                        <td>
                            <%= user.name %>
                        </td>
                        <td>
                            <%= user.email %>
                        </td>
                        <td>
                            <%= user.level %>
                        </td>
                    </tr>
                    <%})%>
            </table>
            <table id="productTable">
                <tr>
                    <td>user</td>
                    <td>datetime</td>
                    <td>product Id</td>
                    <td>quantity</td>
                </tr>

                <% Object.values(orders).forEach(function(order){%>
                    <tr>
                        <td>
                            <%= order.user_id %>
                        </td>
                        <td>
                            <%= order.datetime %>
                        </td>
                        <td>
                            <%= order.product_id %>
                        </td>
                        <td>
                            <%= order.product_quantity %>
                        </td>
                    </tr>
                    <%})%>
            </table>
        </div>
</body>

</html>